.message-container {
  display: block;
  position: absolute;
  width: 530px;
  height: 50%;
  background-color: white;
  text-align: center;
}

.messages-maintext {
  align-items: center;
  color: #282c34;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;

  &_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../../icons/oldman.jpg") no-repeat center;
    background-size: 100%;
  }
}